button.cta{
    padding: 10px 50px;
    background-color: $green;
    border-radius: 30px;
    border: solid transparent 0px;
    min-width: 160px;
    a{
        color: $white;
        text-decoration: none;
    }
    &:hover{
        background-color: $dark-green;
    }
}
.btt {
    background-color: $green;
    color: $white;
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;

    &:visited {
        color: $white;
    }

    ;

    &:hover {
        background-color: $dark-green;
    }
}