@import "../../../../acf-blocks-common/all.scss";

.devis-express {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../dist/img/background_devis_mobile.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    @include breakpoints(sm) {
        background-image: url('../../../../dist/img/background_devis.svg');
        background-position: 40%;

    }
}