footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: $white;
    background: $dark-green;
    height: 40px;
    padding-left: 40px;

    @include breakpoints(sm) {
        height: 80px;
    }
}
.back-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $green;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    &:hover{
        background-color: $orange;
    }
    span {
        background-image: url('../img/chevron-up.svg');
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

}