.main-navigation {
    display: flex;
    align-items: center;
    background-color: $cream;
    box-shadow: 0 1px 10px rgba($black, 30%);
    @include breakpoints(md) {
        justify-content: space-between;
    }

    .custom-logo-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoints(md) {
            justify-content: none;
            width: fit-content;
            margin-left: 40px;
        }
    }

    .menu-principal {
        width: 100%;
        transition: top 0.5s ease-in-out;
        position: absolute;
        top: -600px;
        background-color: $green;
        padding-bottom: 25vh;
        border-radius: 0 0 50vw 50vw;
        z-index: 30;

        @include breakpoints(md) {
            position: relative;
            top: 0;
            padding: 0px;
            border-radius: 0;
            background-color: transparent;
            max-width: 60vw;
        }

        &-logo {
            position: absolute;
            left: 50%;
            top: 80%;
            transform-origin: center;
            transform: translate(-50%, -50%);

            @include breakpoints(md) {
                display: none;
            }
        }

        .menu {
            padding-left: $h-menu-mobile;
            padding-top: calc($h-menu-mobile / 2);

            @include breakpoints(md) {
                padding: 0;
            }

            ul {
                padding: 0;
                @include breakpoints(md) {
                   display: flex;
                   justify-content: space-around;
                }
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    @include breakpoints(md) {
                        margin-bottom: 0px;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 20pt;
                        text-transform: uppercase;

                        @include breakpoints(md) {
                            color: $dark-green;
                        }
                    }
                }
            }
        }
    }
}

// Hamburger menu
.menu-toggle {
    display: flex;
    align-items: center;
    background-color: $green;
    border: none;
    line-height: 1;
    z-index: 40;
    min-width: $h-menu-mobile;
    min-height: $h-menu-mobile;
    justify-content: center;

    @include breakpoints(md) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    span,
    span::before,
    span::after {
        width: 42px;
        background-color: $white;
        transition: .5s cubic-bezier(.19, 1, .22, 1);
    }

    span {
        display: block;
        position: relative;
        height: 4px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            transform: translateY(-13px);

            .header--menu-is-open & {
                transform: rotate(45deg);
            }
        }

        &::after {
            transform: translateY(13px);

            .header--menu-is-open & {
                transform: rotate(-45deg);
            }
        }

        .header--menu-is-open & {
            background-color: transparent;
        }
    }
}